<!doctype html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="Content-Language" content="en" />
    <meta name="msapplication-TileColor" content="#2d89ef">
    <meta name="theme-color" content="#4188c9">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">

    <link rel="icon" href="{{ .Site.BaseURL }}favicon.ico" type="image/x-icon"/>
    <link rel="shortcut icon" type="image/x-icon" href="{{ .Site.BaseURL }}favicon.ico" />

    <title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} &middot; {{ .Site.Title }}{{ end }}</title>
    <meta name="description" content="{{ .Description | default .Site.Params.Description }}" />
    <link rel="canonical" href="{{ .Permalink }}" />

    <!-- Twitter -->
    <meta name="twitter:card" value="{{ .Description | default .Site.Params.Description }}">

    <!-- Open Graph data -->
    <meta property="og:title" content="{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} &middot; {{ .Site.Title }}{{ end }}" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="{{ .Permalink }}" />
    {{if .Params.thumbnail}}<meta property="og:image" content="{{ .Site.BaseURL }}{{ .Params.thumbnail }}" />{{end}}
    <meta property="og:description" content="{{ .Description | default .Site.Params.Description }}" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,500,500i,600,600i,700,700i&amp;subset=latin-ext">
    <script src="{{ .Site.BaseURL }}assets/js/require.min.js"></script>
    <script>
      requirejs.config({
          baseUrl: '{{ .Site.BaseURL }}'
      });
    </script>

    <!-- Dashboard Core -->
    <link href="{{ .Site.BaseURL }}assets/css/dashboard.css" rel="stylesheet" />
    <script src="{{ .Site.BaseURL }}assets/js/dashboard.js"></script>
    <!-- c3.js Charts Plugin -->
    <link href="{{ .Site.BaseURL }}assets/plugins/charts-c3/plugin.css" rel="stylesheet" />
    <script src="{{ .Site.BaseURL }}assets/plugins/charts-c3/plugin.js"></script>
    <!-- Google Maps Plugin -->
    <link href="{{ .Site.BaseURL }}assets/plugins/maps-google/plugin.css" rel="stylesheet" />
    <script src="{{ .Site.BaseURL }}assets/plugins/maps-google/plugin.js"></script>
    <!-- Input Mask Plugin -->
    <script src="{{ .Site.BaseURL }}assets/plugins/input-mask/plugin.js"></script>
  </head>
  <body class="">
    <div class="page">
      <div class="page-main">

        <!-- Header -->
        <div class="header py-4">
          <div class="container">
            <div class="d-flex row">
              <a href="/" class="nav-link pr-0 leading-none">
                <span class="avatar" style="background-image: url('{{ .Site.BaseURL }}{{ .Site.Params.avatar }}')"></span>
                <span class="ml-2 d-none d-lg-block">
                  <span class="text-default">{{ .Site.Params.name }}</span>
                  <small class="text-muted d-block mt-1">{{ .Site.Params.description }}</small>
                </span>
              </a>
              <div class="d-flex order-lg-2 ml-auto">
                <div class="nav-item d-none d-md-flex">
                  {{ with .Site.Params.social.facebook }}&nbsp;<a href="//facebook.com/{{ . }}" class="btn btn-icon btn-facebook btn-sm" target="_blank"><i class="fa fa-facebook"></i></a>{{ end }}
                  {{ with .Site.Params.social.twitter }}&nbsp;<a href="//twitter.com/{{ . }}" class="btn btn-icon btn-twitter btn-sm" target="_blank"><i class="fa fa-twitter"></i></a>{{ end }}
                  {{ with .Site.Params.social.google }}&nbsp;<a href="//plus.google.com/u/0/{{ . }}" class="btn btn-icon btn-google btn-sm" target="_blank"><i class="fa fa-google"></i></a>{{ end }}
                  {{ with .Site.Params.social.youtube }}&nbsp;<a href="//youtube.com/{{ . }}" class="btn btn-icon btn-youtube btn-sm" target="_blank"><i class="fa fa-youtube"></i></a>{{ end }}
                  {{ with .Site.Params.social.vimeo }}&nbsp;<a href="//vimeo.com/{{ . }}" class="btn btn-icon btn-vimeo btn-sm" target="_blank"><i class="fa fa-vimeo"></i></a>{{ end }}
                  {{ with .Site.Params.social.dribble }}&nbsp;<a href="//dribble.com/{{ . }}" class="btn btn-icon btn-dribble btn-sm" target="_blank"><i class="fa fa-dribble"></i></a>{{ end }}
                  {{ with .Site.Params.social.github }}&nbsp;<a href="//github.com/{{ . }}" class="btn btn-icon btn-github btn-sm" target="_blank"><i class="fa fa-github"></i></a>{{ end }}
                  {{ with .Site.Params.social.instagram }}&nbsp;<a href="//instagram.com/{{ . }}" class="btn btn-icon btn-instagram btn-sm" target="_blank"><i class="fa fa-instagram"></i></a>{{ end }}
                  {{ with .Site.Params.social.pinterest }}&nbsp;<a href="//pinterest.com/{{ . }}" class="btn btn-icon btn-pinterest btn-sm" target="_blank"><i class="fa fa-pinterest"></i></a>{{ end }}
                  {{ with .Site.Params.social.linkedin }}&nbsp;<a href="//linkedin.com/in/{{ . }}" class="btn btn-icon btn-primary btn-sm" target="_blank"><i class="fa fa-linkedin"></i></a>{{ end }}
                </div>
              </div>
              <a href="#" class="header-toggler d-lg-none ml-3 ml-lg-0" data-toggle="collapse" data-target="#headerMenuCollapse">
                <span class="header-toggler-icon"></span>
              </a>
            </div>
          </div>
        </div>
        <!-- End Header -->

        <!-- Header 2 -->
        <div class="header collapse d-lg-flex p-0" id="headerMenuCollapse">
          <div class="container">
            <div class="row align-items-center">
              <div class="col-lg-3 ml-auto">
                <form class="input-icon my-3 my-lg-0" action="http://www.google.com/search" method="get">
                  <input type="search" name="q" class="form-control header-search" placeholder="Search&hellip;" tabindex="1">
                  <div class="input-icon-addon">
                    <i class="fe fe-search"></i>
                  </div>
                </form>
              </div>
              <div class="col-lg order-lg-first">
                {{ $currentPage := . }}
                {{ with .Site.Menus.main }}
                <ul class="nav nav-tabs border-0 flex-column flex-lg-row">
                  {{ range . }}
                  <li class="nav-item">
                    <a href="{{ .URL }}" class="nav-link {{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }}">{{ .Pre }} {{ .Name }}</a>
                  </li>
                  {{ end }}
                {{ end }}
              </div>
            </div>
          </div>
        </div>
        <!-- End Header -->

        <div class="my-3 my-md-5">
