{{ define "main" }}

<div class="container">
  <div class="row row-cards">
    <div class="col-lg-8">

      <div class="card">
        <div class="card-header">
          <h2 class="card-title">Recent Articles</h2>
        </div>
        <ul class="list-group card-list-group">
          {{ $pages := where .Site.RegularPages "Type" "in" .Site.Params.mainSections }}
          {{ $paginator := .Paginate (where $pages "Params.hidden" "ne" true) }}
          {{ range $paginator.Pages }}
          <li class="list-group-item py-5">
            <div class="media">
              <div class="media-body">
                <div class="media-heading">
                  <small class="float-right text-muted">
                    <time datetime="{{ .Date }}">{{ .Date.Format .Site.Params.date_format }}</time>
                  </small>
                  <h3><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
                </div>
                <div class="mb-4">
                  {{ .Summary }}
                </div>
                <div>
                  <small class="float-right text-muted">approx. {{ .ReadingTime }} minutes</small>
                  {{ partial "post-meta.html" . }}
                </div>
              </div>
            </div>
          </li>
          {{ end }}
        </ul>

        <div class="card-body text-center">
          <a class="btn btn-primary" href="/post/">See all posts</a>
        </div>
      </div>

    </div>
    <div class="col-lg-4">

      <div class="card card-profile">
        <div class="card-header" style="background-image: url('/images/home-hero.jpg');"></div>
        <div class="card-body text-center">
          <img class="card-profile-img" src="{{ .Site.BaseURL }}{{ .Site.Params.avatar }}">
          <h3 class="mb-3">Matt Kruskamp</h3>
          <p class="mb-4">
            I'm currently the Co-Founder / CTO with an amazing team at <a href="https://www.rentler.com">Rentler</a>.
            We build property management software for independant landlords using a plethora of technologies.
          </p>
          <p class="mb-4">
            I occasionally make other things as well.
          </p>
          {{ with .Site.Params.social.linkedin }}<a href="//linkedin.com/in/{{ . }}" class="btn btn-outline-primary btn-sm" target="_blank"><i class="fa fa-linkedin"></i> Connect</a>{{ end }}
        </div>
      </div>

      <div class="card card-aside">
        <a href="/build-quick-net-core-api-and-site-on-mac-with-command-line/" target="_blank" class="card-aside-column" style="background-image: url('{{ .Site.BaseURL }}images/blog/0115/webdeploy-generator.jpg')"></a>
        <div class="card-body d-flex flex-column">
          <h4><a href="/build-quick-net-core-api-and-site-on-mac-with-command-line/" target="_blank">WebDeploy Generator</a></h4>
          <div class="text-muted">Website taking .Net web deploy files and converting them to AppVeyor yml. Written as a demo.</div>
        </div>
      </div>

      <div class="card">
        <a class="twitter-timeline" data-tweet-limit="3" href="https://twitter.com/mattkruskamp" data-widget-id="345272763512152065">Tweets by @mattkruskamp</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
      </div>

    </div>
  </div>
</div>

{{ end }}
